<div class="container">
  <h1><%= @list.name %></h1>
  <div class="card-trip">
    <div class="card-trip-infos">
      <div>
        <% @list.bookmarks.each do |bookmark| %>
          <%= image_tag bookmark.movie.poster_url, class: "img" %>
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <h2 class="card-trip-pricing"><%= bookmark.movie.rating %></h2>
            <p><%= bookmark.movie.overview %></p>
            <p><%= bookmark.comment %></p>
          </div>
      </div>
        <%= link_to '', bookmark_path(bookmark) , data: { turbo_method: :delete, turbo_confirm: "Are you sure delete #{bookmark.movie.title}?" }, class: "fa-regular fa-trash-can" %>
      <% end %>
   </div>
  </div>

  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class:"btn btn-info mt-3 mt-4" %>
  <%= link_to 'Back to the list', lists_path, class:"btn btn-info mt-3 mt-4" %>

</div>
