<div class="container">
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<% @list.bookmarks.each do |bookmark| %>
<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>
 <%= bookmark.comment %>
 <%= bookmark.movie.title %>
 <%= bookmark.movie.overview %>
 <%= bookmark.movie.rating %>
 </div>
 <%= link_to 'delete', bookmark_path(bookmark) , data: { turbo_method: :delete, turbo_confirm: "Are you sure delete #{bookmark.movie.title}?" }, class: 'card-remove-link' %>
 <% end %>

</div>
